/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

.mylogin
{margin-top: -54px;
}
.footer-vachana {
	color: red;
	font-weight: bold;
	font-size: 20px;
}
.test-vachana{
	font-size: 30px;
	color: blue;
	border: 2px red;
}
.site-name{
	    display: none;
}

.navbar{
	
	margin-left: -56px;
    margin-right: -17px;
        padding: 14px;
}

footer#footer {
    background-color: black;
    text-align: center;
        padding: 60px 24px;
    margin: 3px -18px;
}
img.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}
.list-style-none {
	list-style: none;
}
.navbar-inner {
       background-color: black;
    font-size: 18px;
    padding-left: 23px;
    padding-top: opx;
    margin-left: -18px;
    margin-right: -16px;
}
nav li a  {
    color: white !important;
}
/*
@media(min-width:801px) and (max-width:1200px) {
   
    }
    @media(min-width:2px) and (max-width:768px) {
    
}
*/


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .list-style-none {
       width: 27cm !important;
    }
   
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .list-style-none {
       width: 27cm !important;
    }
   
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
.list-style-none {
        height: 341px !important;
        width: 5cm !important;
    }
   
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}
